/* ----------Mobile--------------- */

@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;

    }

    .phone-number {
        max-width: 418px;
        font-size: 36px;
    }

    .mob-social-list {
        justify-content: left;
        gap: 56px;
    }

    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--basic-color-logo);
        display: flex;
        align-items: center;
        padding: 25px 0;
    }

    .menu_but_icon {
        stroke: #2E2F42;
    }
}

/* ------------Tablet---------------- */


@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;

    }

    .current::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #404bbf;
        color: #404bbf;
        bottom: -1px;
        left: 0;

    }

    .header_menu_li.current {
        position: relative;
        color: #404bbf;
    }


    .header_li {
        display: flex;
        gap: 40px;
        margin-right: 121px;
    }


    .header_menu_li {
        padding: 24px 0;
        display: block;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em
    }

    .header_menu_li:hover,
    .header_menu_li:focus {
        color: #404bbf;
    }

    .header_menu_li:active {
        text-decoration: underline;
    }

    .contacts {
        font-style: normal;
        display: flex;
    }

    .contacts_item {
        gap: 40px;

    }

    .contacts_link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .contacts_item .contacts_link {
        color: #434455;
        font-size: 12px;
        letter-spacing: 0.04em;
        font-style: normal;
        font-weight: 400;
        line-height: 1.16;
        display: block;
    }

    .contacts_link:active,
    .contacts_link:hover,
    .contacts_link:focus {
        color: #404bbf;
    }

    .menu_but {
        display: none;
    }


    .main_title {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/herotab1.jpg);
        max-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main_title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/herotab2x.jpg);
            max-width: 768px;
        }
    }

    .main_h {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px
    }

    .main_info {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .main_info_li {

        width: 100%;
        gap: 72px 24px;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .main_info_item {
        width: calc((100% - 24px) / 2);
        max-width: 356px;
    }

    .main_info_subtitle {
        text-align: left;
    }

    .main_info_text {
        font-weight: 400;
    }

    .main_team_title {
        text-align: center;
        margin-bottom: 8px;
    }

    .main_team_li {
        gap: 64px 24px;
    }

    .main_team_item {
        width: calc((100% - 24px) / 2);
        max-width: 264px;
    }

    .customers_list {
        gap: 72px 24px;
        justify-content: center;
    }

    .customers_item {
        width: calc((100% - 48px) / 3);
        max-width: 168px;
    }

    .footer_main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        max-width: 582px;
    }

    .footer_cont {
        margin-right: 24px;
    }

    .footer_subscription {
        flex-direction: row;
        gap: 24px;
    }

    .footer_box_title {
        justify-content: left;
    }

    .input_footer {
        width: 264px;
    }

    .footer_but {
        margin: 0;
        height: 40px;
    }

    .modal-window {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}




/* --------------Desktop--------------------- */


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;

    }

    .contacts_list {
        display: flex;
        gap: 40px;
    }

    .contacts_list.contacts_link {
        color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;

    }

    .main_title {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/herodesctop1.jpg);
        max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main_title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/herodesctop2x.jpg);
            max-width: 1440px;
        }
    }

    .main_h {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
        max-width: 496px
    }

    .main_info {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .main_info_li {

        width: 100%;
        gap: 24px;

    }

    .main_info_item {
        width: calc((100% - 24px * 3) / 4);

    }

    .main_info_subtitle {
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;

    }

    .main_team_item_text {
        font-weight: 400;
    }

    .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background: #f4f4fd;
        margin-bottom: 8px;

    }

    .main_activity_section {
        display: block;

    }

    .main_team {
        padding: 120px 0;
    }

    .main_team_item {
        width: calc((100% - 72px) / 4);
    }

    .customers {
        padding: 120px 0;
    }

    .customers_list {
        display: flex;
        gap: 24px;
    }

    .customers_item {
        width: calc((100% - 24px * 5) / 6);
        max-width: 168px;
    }

    .footer_section {
        display: flex;
        padding: 100px 0;
    }

    .footer_main {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .footer_cont {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer_box {
        width: 453px;
        margin-left: 80px;
    }

    .footer_logo {
        justify-content: left;
    }

    .footer_text {
        max-width: 264px;
    }

    .media_section {
        margin-bottom: 0;
    }

    .media_title {
        justify-content: left;
    }

    .input_footer {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        opacity: 1;
    }

    .modal-window {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}